    .btn-edit-title{
        font-size: 27px;
        font-family: "Poppins",sans-serif;
    }
    .card-activis{
        width: 92%;
        height: 70px;
    }
    .icon-circle{
        margin-left: 15px;
        font-size: 20px;
    }

    .title-activity{
        text-decoration: line-through;
        color: #D8D9CF;
        font-family: "Poppins",sans-serif;
    }
    .title-activity-active{
        font-family: "Poppins",sans-serif;
    }

    .pen-update{
        cursor: pointer;
    }
    .trash-icon{
        margin-left: 6%;
        cursor: pointer;
    }
    .btn-plus-mod{
        background-color: #16ABF8;
        font-size: 23px;
        color: white;
        padding: 15px;
        width: 160px;
        border-radius: 45px;
        border: none;
        font-family: "Poppins",sans-serif;
    }