input.modif-input {
    border:0;
    outline:0;
    border-bottom:solid 1px black;
    width: 280px;
}

input:focus.modif-input{outline:none!important;}
input.input-checbox{
    width: 18px;
    height: 18px;
}